button.mat-focus-indicator.mat-button.mat-button-base.add_btn{
  background-color: rgba(28, 28, 28);
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1rem;
  :last-of-type{
    margin-bottom: 0;
  }
}

.bg-red{
  background-color: rgb(173, 16, 16) !important;
}
