<app-navbar>
  <ng-container main>
  <div class="flex flex-col items-center justify-center w-full" >
    <app-menu-header
      title="PROMOÇÕES"
      headerImage = "https://http2.mlstatic.com/D_NQ_NP_997293-MLB26883974285_022018-O.jpg"
      class="w-full flex flex-col items-center justify-center mt-4 mb-8"
      >
    </app-menu-header>

    <app-plates class="w-full flex flex-col items-center justify-center"
      [productId]="i.id"
      *ngFor="let i of promocoes"
      plateName="{{i.name}}"
      platePrice="{{(i.price)}}"
      plateDescription="{{i.description.substring(0, 60)}}"
      plateImage="{{i.img}}"
      [maxAmount]="i.amount"
      [admin]="admin"
    >
    </app-plates>

    <h2 *ngIf="promocoes.length === 0">Este menu está vazio!</h2>
  </div>
  </ng-container>
</app-navbar>
