button.mat-focus-indicator.mat-button.mat-button-base{
  background-color: rgba(28, 28, 28);
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  width: 84%;
  margin-bottom: 2rem;
}
