#fileInput {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  height: 0;
  left: 0px;
  top: 0px;
}

.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
  padding: 0;
}

.mat-toolbar-single-row button {
  width: 100px;
}

.mat-form-field {
  width: 100%;
}

button.mat-focus-indicator.mat-button.mat-button-base{
  background-color: rgba(28, 28, 28);
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  margin-top: 1rem;
}

