button.mat-focus-indicator.mat-button.mat-button-base.goto_menu{
  background-color: rgba(28, 28, 28);
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 3rem;

  position: absolute;
  bottom: 0;
  width: 80%;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #1C1C1C;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #1C1C1C;
}
