<div class="home-body flex flex-col items-center justify-center">
  <div class="sales md:flex mb-8">
    <img mat-card-image
         src="https://cache.dominos.com/wam/prod/market/BR/_pt/images/promo/79d6282d-f396-42a6-889c-5fbb47aea3dd.png"
         class="object-cover h-56 w-56 md:h-64 md:w-64 col-start-1 col-end-3 mb-8 md:mr-8"
         alt="Promoção do dia: frango à parmegiana por R$9,90">

    <img mat-card-image
         src="https://cache.dominos.com/wam/prod/market/BR/_pt/images/promo/86e86f9f-33ac-49b3-8b96-034e7227e89a.jpg"
         class="object-cover h-24 w-56 md:h-64 md:w-64 col-start-1 col-end-3"
         alt="Promoções 50% de desconto">
  </div>

  <div class="buttons w-56 flex-col items-center justify-center ">
    <button (click)='navigate("cardapio")' *ngIf="this._userRole == 1" class="w-full" mat-button>Editar Cardápio</button>
    <button (click)='navigate("cardapio")' *ngIf="this._userRole != 1" class="w-full" mat-button>Cardápio</button>
    <button  *ngIf="this._userRole == 1" class="w-full" mat-button>Pedidos em andamento</button>
    <button  *ngIf="this._userRole == 1" class="w-full" mat-button>Relatórios</button>
    <button  *ngIf="this._userRole != 1" class="w-full" mat-button>Carrinho</button>
  </div>
</div>
