<div class="home-body flex flex-col items-center justify-center">
  <div class="sales md:flex mb-8">
    <img mat-card-image
         src="https://image.freepik.com/free-vector/big-sale-poster_23-2147515025.jpg"
         class="object-cover h-56 w-56 md:h-64 md:w-64 col-start-1 col-end-3 mb-8 md:mr-8"
         alt="Promoção do dia: frango à parmegiana por R$9,90">

    <img mat-card-image
         src="https://previews.123rf.com/images/vasilyrosca/vasilyrosca1603/vasilyrosca160300006/52871267-super-sale-poster-on-ribbon-sale-promotional-background-poster-for-store-shop-market.jpg"
         class="object-cover h-24 w-56 md:h-64 md:w-64 col-start-1 col-end-3"
         alt="Promoções 50% de desconto">
  </div>

  <div class="buttons w-56 flex-col items-center justify-center ">
    <button (click)='navigate("cardapio")' *ngIf="this._userRole == 1" class="w-full" mat-button>Editar Cardápio</button>
    <button (click)='navigate("cardapio")' *ngIf="this._userRole != 1" class="w-full" mat-button>Cardápio</button>
    <button  *ngIf="this._userRole == 1" class="w-full" mat-button>Pedidos em andamento</button>
    <button  *ngIf="this._userRole != 1" class="w-full" mat-button>Meus pedidos</button>
    <button  *ngIf="this._userRole == 1" class="w-full" mat-button>Relatórios</button>
    <button  *ngIf="this._userRole != 1" class="w-full" mat-button>Carrinho</button>
  </div>
</div>
